<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="enable_infra1" value="true" />
    <arg name="enable_infra2" value="true" />
    <arg name="enable_accel" value="true" />
    <arg name="enable_gyro" value="true" />
    <arg name="color_fps" value="30" />
    <arg name="color_height" value="480" />
    <arg name="color_width" value="640" />
    <arg name="depth_fps" value="30" />
    <arg name="depth_height" value="480" />
    <arg name="depth_width" value="640" />
    <arg name="infra_width" value="640" />
    <arg name="unite_imu_method" value="linear_interpolation" />
  </include>
</launch>
