<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="enable_infra1" value="true" />
    <arg name="enable_infra2" value="true" />
    <arg name="enable_accel" value="true" />
    <arg name="enable_gyro" value="true" />
    <arg name="unite_imu_method" value="linear_interpolation" />
  </include>


</launch>
